.bubble-text {
    font-size: 4 rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 
        2px 2px 0 #FF69B4,
        -2px -2px 0 #FF69B4,
        2px 2px 0 #FF69B4,
        -2px -2px 0 #FF69B4,
        4px 4px 5px rgba(0, 0, 0, 0.2);
    text-align: Center;
    letter-spacing: 2px;
    }

.map {
    width: 500px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

    .button {
      background-color: rgb(146, 43, 43);
      color: white; 
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px; 
    }

* {
    background-color: #729392;
    color: white;
    font-family: Serif;
}

a:hover {
    color: darkgray;
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.two h2 {
    color: rgb(58, 23, 65);
}

.five h2 {
    color: rgb(58, 23, 65);
}

hr {
    padding: 2px;
    background-color: #2B3E3D;
}

li {
    font-size: 19px;
}
